In [1]:
import pandas as pd 
import numpy as np

In [2]:
path = 'Football_Data.xlsx'
sheetnames = pd.ExcelFile(path).sheet_names
sheetnames

['Premier League', 'Serie A', 'La Liga']

In [28]:
df = pd.DataFrame()
for name in sheetnames:
    df1 = pd.read_excel('Football_Data.xlsx',sheet_name= name)
    df1['Type'] = name
    df = pd.concat([df,df1])
df.reset_index(drop=True)

,Player,Club,Goals,Matches Played,Type
0,Jamie Vardy,Leicester City,15,29,Premier League
1,Harry Kane,Tottenhem Hotspur,23,31,Premier League
2,Mohammad Salah,Liverpool,22,33,Premier League
3,Zlatan Imbrahimovich,AC Milan,15,18,Serie A
4,Romelu Lukaku,Inter Milan,24,32,Serie A
5,Cristiano Ronaldo,Juventus,29,31,Serie A
6,Lionel Messi,Barcelona,30,33,La Liga
7,Karim Benzema,Real Madrid,22,33,La Liga
8,Luis Suarez,Atletico Madrid,21,30,La Liga