In [6]:
a = 5
print(a)

5

In [7]:
a = 2

In [8]:
type(a)

int

In [9]:
b = 4.5

In [10]:
type(b)

float

In [16]:
c = 'abc'

In [17]:
type(c)

str

In [20]:
print(b,c)

4.5 abc

In [24]:
a = "Today is our first class"
a

'Today is our first class'

In [25]:
str1 = 'A B'
print(a)

str1

Today is our first class

'A B'

In [26]:
len(str1)

3

In [28]:
a[0:10]

'Today is o'

In [33]:
c = 'python class'
print(c[0:5])
c[5:12]

pytho

'n class'

In [3]:
aa="today is my day"
aa.split(" ")

['today', 'is', 'my', 'day']

In [6]:
aa.split("a")

['tod', 'y is my d', 'y']

In [38]:
aa.split?

heading

In [7]:
x1 = "Mumbai"
x2 = " Mumbai"
x3 = "Mumbai "

In [40]:
a.strip?

In [8]:
x2.strip(" ")

'Mumbai'

In [12]:
x2=x2.strip(" ")

In [13]:
x3 = x3.strip(" ")

In [14]:
print(x1)
print(x2)
print(x3)

Mumbai
Mumbai
Mumbai

# if-else

In [16]:
amt = 900
amt_flag = 0
if amt < 1000:
    amt_flag = 1
    print("yes")
else:
    print("NO")
amt_flag

yes

1

# Nested if-else

In [70]:
amount = 1700
if amount < 1000:
    print("Balance is less than 1000")
    print("Dont spend")
else:
    if amount > 1500:
        print("Enough blance")
    else:
        print("Balnce greater than 1000")
        print("Spend wisely")

Enough blance

In [72]:
shift_code = "D"
if shift_code == "A":
    print("start at 9 AM")
    
elif shift_code == "B":
    print("Start at 1AM")

else:
    print("Start at 6 PM")

Start at 6 PM

# for loop

In [83]:
a = range(-5,5)
a

range(-5, 5)

In [82]:
a[4]

4

In [84]:
a[9]

4

In [18]:
for jill in range(15):
    print(jill+10)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [20]:
a1 = [" mum","hyd","kol","ech","del"]

In [21]:
len(a1)

5

In [22]:
for city in range(len(a1)):
    print("city-->",city)

city--> 0
city--> 1
city--> 2
city--> 3
city--> 4

In [94]:
for city in range(len(a1)):
    print("city-->",a1[city])

city-->  mum
city--> hyd
city--> kol
city--> ech
city--> del

In [95]:
for city in a1:
    print("Raw element",city)
    print("Processed element",city.strip(" "))

Raw element  mum
Processed element mum
Raw element hyd
Processed element hyd
Raw element kol
Processed element kol
Raw element ech
Processed element ech
Raw element del
Processed element del

In [105]:
city=["West bengal","Maharashtra"]
for i in city:
    if i == " ":
        print("location has a space")
    else:
        print("location has a no space")

location has a no space
location has a no space

In [111]:
str1 = "west bengal","maharashtra"
for i in str1:
    print("value of i ",i)
    if i==" ":
        print("Location has a space")
        break

value of i  west bengal
value of i  maharashtra

In [27]:
# checking if word has a space
str1 = ["west bangal","Gujrat","Madhya pradesh"]

# iterating through location
for loc in str1:
    print(loc)
    
   
             # iterating through the string location
    for i in loc:
        print("value of i",i)
        if i==" ":
            print("Location has space")
            break

west bangal
value of i w
value of i e
value of i s
value of i t
value of i
Location has space
Gujrat
value of i G
value of i u
value of i j
value of i r
value of i a
value of i t
Madhya pradesh
value of i M
value of i a
value of i d
value of i h
value of i y
value of i a
value of i
Location has space

In [113]:
# check if there are vowels present in the given string
str1 = "Imarticus"
for letter in str1:
    if letter in "AIEOUaieou":
        print("vowels is present")

vowels is present
vowels is present
vowels is present
vowels is present

In [115]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

List are mutable

In [125]:
l11 = ["sree", 123,45.5]

In [118]:
l1

['sree', 123, 45.5]

In [119]:
l1.append("DS")

In [120]:
l1

['sree', 123, 45.5, 'DS']

Tuples are immutable

In [122]:
t1 =()
type(t1)

tuple

In [123]:
t1 =[]
type(t1)

list

In [124]:
t1 = {}
type(t1)

dict

In [126]:
l11.extend([1,2])

In [128]:
l11

['sree', 123, 45.5, 1, 2]

In [129]:
l11.insert(0,"1")

In [130]:
l11

['1', 'sree', 123, 45.5, 1, 2]