In [4]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_json(r'https://raw.githubusercontent.com/Sreemanto/DSP-55/main/analyst_in_tool.json').iloc[:,0]
df

0    [{'id': 3335, 'resourceId': 46, 'day': 0, 'val...
1    [{'id': 3300, 'resourceId': 49, 'day': 0, 'val...
Name: availability, dtype: object

In [67]:
pd.DataFrame(df[0])

      id  resourceId  day  value  isActive  shift
0   3335          46    0    0.0     False      1
1   3343          46    0    0.0     False      2
2   3350          46    0    0.0     False      3
3   3337          46    1    8.0     False      1
4   3344          46    1    0.0     False      2
5   3351          46    1    0.0     False      3
6   3338          46    2    8.0     False      1
7   3346          46    2    0.0     False      2
8   3352          46    2    0.0     False      3
9   3339          46    3    8.0     False      1
10  3353          46    3    0.0     False      3
11  3355          46    3    0.0     False      2
12  3340          46    4    8.0     False      1
13  3347          46    4    0.0     False      2
14  3354          46    4    0.0     False      3
15  3336          46    5    8.0     False      3
16  3341          46    5    8.0     False      1
17  3348          46    5    0.0     False      2
18  3342          46    6    0.0     False      1
19  3345          46    6    8.0     False      3
20  3349          46    6    0.0     False      2

In [52]:
df_details = pd.read_json(r'https://raw.githubusercontent.com/Sreemanto/DSP-55/main/analyst_in_tool.json').iloc[:,1:]
df_details

,numberOfCampaignGroupCapabilities,isActive,id,name,expiryDate,resourceType,extWeeklyWorkingHours,extStatus
0,0,False,46,a1,NaN,0,56,1
1,0,False,49,Test_Analyst,NaN,0,32,1

In [59]:
df = pd.read_json(r'https://raw.githubusercontent.com/Sreemanto/DSP-55/main/analyst_in_tool.json').iloc[:,0]

df_resource = pd.DataFrame()
for i in df.values:
    temp_df = pd.DataFrame(i)
    df_resource = pd.concat([df_resource,temp_df])
df_resource.reset_index()

    index    id  resourceId  day  value  isActive  shift
0       0  3335          46    0    0.0     False      1
1       1  3343          46    0    0.0     False      2
2       2  3350          46    0    0.0     False      3
3       3  3337          46    1    8.0     False      1
4       4  3344          46    1    0.0     False      2
5       5  3351          46    1    0.0     False      3
6       6  3338          46    2    8.0     False      1
7       7  3346          46    2    0.0     False      2
8       8  3352          46    2    0.0     False      3
9       9  3339          46    3    8.0     False      1
10     10  3353          46    3    0.0     False      3
11     11  3355          46    3    0.0     False      2
12     12  3340          46    4    8.0     False      1
13     13  3347          46    4    0.0     False      2
14     14  3354          46    4    0.0     False      3
15     15  3336          46    5    8.0     False      3
16     16  3341          46    5    8.0     False      1
17     17  3348          46    5    0.0     False      2
18     18  3342          46    6    0.0     False      1
19     19  3345          46    6    8.0     False      3
20     20  3349          46    6    0.0     False      2
21      0  3300          49    0    0.0     False      1
22      1  3303          49    0    0.0     False      3
23      2  3307          49    0    8.0     False      2
24      3  3293          49    1    0.0     False      1
25      4  3301          49    1    0.0     False      2
26      5  3308          49    1    0.0     False      3
27      6  3295          49    2    0.0     False      1
28      7  3302          49    2    0.0     False      2
29      8  3309          49    2    0.0     False      3
30      9  3296          49    3    8.0     False      1
31     10  3304          49    3    0.0     False      2
32     11  3310          49    3    0.0     False      3
33     12  3297          49    4    8.0     False      1
34     13  3311          49    4    0.0     False      3
35     14  3313          49    4    0.0     False      2
36     15  3298          49    5    0.0     False      1
37     16  3305          49    5    0.0     False      2
38     17  3312          49    5    0.0     False      3
39     18  3294          49    6    0.0     False      3
40     19  3299          49    6    0.0     False      1
41     20  3306          49    6    8.0     False      2

In [50]:
df['availability'][0][0]

{'id': 3335,
 'resourceId': 46,
 'day': 0,
 'value': 0.0,
 'isActive': False,
 'shift': 1}

In [71]:
import json

with open("parameters.json",'r') as f:
    params = json.load(f)
params

{'filename': 'Resources.csv',
 'filepath': "'https://raw.githubusercontent.com/Sreemanto/DSP-55/main/analyst_in_tool.json"}